/* Importing Pokémon Font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  /* Pokémon Colors */
  --primary-color: #e44032; /* Primary color, often used for main elements */
  --secondary-color: #f8d030; /* Secondary color, for contrast or emphasis */
  /* Type Colors */
  --success-color: #78c850; /* Success color, for success messages */
  --error-color: #f08030; /* Error color, for error messages */
  --warning-color: #f8d030; /* Warning color, for warning messages */
  --info-color: #6890f0; /* Info color, for informational messages */
  /* Background Colors */
  --background-color: #2a2a2a; /* Main background color */
  --secondary-bg-color: #3c3c3c; /* Secondary background color, for panels or cards */
  /* Text Colors */
  --text-color: #ffffff; /* Main text color */
  --text-muted: #9b9b9b; /* Muted text color, for secondary information */
  /* Border Colors */
  --border-color: #696969; /* Main border color */
  --light-border-color: #a0a0a0; /* Lighter border color, for secondary borders */
  /* Pokémon Type Colors */
  --accent-color-1: #f08030; /* Fire Type */
  --accent-color-2: #a8b820; /* Grass Type */
  --accent-color-3: #6890f0; /* Water Type */
  --accent-color-4: #f8d030; /* Electric Type */
  /* Shadow Variables */
  --shadow-small: 0 2px 4px rgba(0, 0, 0, 0.3); /* Small shadow effect */
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.4); /* Medium shadow effect */
  --shadow-large: 0 8px 12px rgba(0, 0, 0, 0.5); /* Large shadow effect */
  --white: #ffffff;
}

.pokeMainContainer * {
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  font-size: clamp(1svh, 1svw, 2svh);
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

.pokeMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  background-color: var(--background-color);
  width: 100svw;
  height: 100svh;
}

.pokefetch__appcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Button Styles */
.pokeMainContainer button {
  font-family: "Press Start 2P", sans-serif;
  padding: 1svw 2svw;
  margin: 5px;
  color: var(--text-color);
  background-color: var(--accent-color-1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: clamp(1svh, 3svw, 3svh);
  width: fit-content;
  display: flex;
  align-items: center;
}

/* Hover State */
.pokeMainContainer button:hover {
  cursor: url(https://cdn.custom-cursor.com/db/250/32/arrow2282.png), default !important;
  background-color: var(--accent-color-3);
}

/* Active/Clicked State */
.pokeMainContainer button:active {
  transform: translateY(1px);
  background-color: var(--secondary-bg-color);
}

/* Input Field Styles */
.pokeMainContainer input {
  cursor: url(https://cdn.custom-cursor.com/db/250/32/arrow2282.png), default !important;
  font-family: "Press Start 2P", sans-serif;
  margin: 5px;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: auto;
  height: 2.5vh;
}

/* Placeholder */
.pokeMainContainer input::-moz-placeholder {
  text-align: center;
}
.pokeMainContainer input::placeholder {
  text-align: center;
}

/* Focus State */
.pokeMainContainer input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color-light);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0) skew(50deg, -50deg) rotate(-100deg);
}

.show {
  opacity: 1;
  filter: none;
  transform: none;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0) skew(-50deg, 50deg) rotate(100deg);
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.pokeIMG {
  width: 10rem;
}

.pokeMainContainer h1 {
  margin-top: 2rem;
}

.pokeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsContainer {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.anim {
  display: none;
  position: absolute;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 130%;
}

.audioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokeIMGcontainer {
  display: flex;
  flex-direction: row;
}
