.gpt3__brand {
    display: flex;
    justify-content: center;
}

.gpt3__brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gpt3__brand-container img {
    height: 24px;
    margin: 0.75rem 1rem;
}

@media screen and (max-width: 750px) {
    .gpt3__brand-container {
        flex-wrap: wrap;
        width: 80%;
    }
    
}

@media screen and (max-width: 600px) {
    .gpt3__brand-container {
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    .gpt3__brand-container {
        width: 50%;
    }
    
}